@model Aether.Models.AQIs

<h1 style="color:red">@ViewBag.Message</h1>

@{
    foreach (AQIs a in (List<AQIs>)ViewBag.AQIList)
    {
        <p>@a.Pollutant AQI: <b>@a.AQI</b></p>
    }

    string currentTime = DateTime.Now.ToString("yyyy-MM-ddTHH");


}

<p>@currentTime</p>